---
layout: archive
title: "Publication"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}




{% include base_path %}
<p style="font-weight: 900;">【最新论文】</p>
<ol>
    <li>D. He, J. Yuan, J. Wu, and R. Liu, &quot;Ubiquitous UAV Communication Enabled Low-Altitude Economy: Applications, Techniques, and 3GPP's Efforts,&quot; <i>IEEE Network</i>,2025.</li>  
    <li>Q. Yu, D. Mishra, H. Wang, D. He, J. Yuan, and M. Matthaiou, &quot;Towards LoRa-Based LEO Satellite IoT: A Stochastic Geometry Perspective,&quot; <i>IEEE Internert of Things Journal</i>,2025.</li>  
    <li>Z. Kang, D. He, H. Wang, Z. Wang, and Z. Han, &quot;Tensor-Based Unified Joint Channel Estimation and Active Device Detection Scheme for High-Mobility Grant-Free Random Access Scenarios,&quot; <i>IEEE Internert of Things Journal</i>,2025.</li>
    <li>Z. Liu, N. Wu， D. He, W. Yuan, Y. Li, and T. Q.S. Quek, &quot;GNN-Assisted BiG-AMP: Joint Channel Estimation and Data Detection for Massive MIMO Receiver,&quot; <i>IEEE Internert of Things Journal</i>,2025.</li>
    <li>H. Li, N. Wu， D. He, W. Yuan, A. Nallanathan, and T. Q.S. Quek, &quot;Integrated Sensing and Communication Receiver Design for OTFS-Based MIMO System: A Unified Variational Inference Framework,&quot; <i>IEEE Journal on Selected Areas in Communications</i>,2025.</li>
    <li>T. Yang, D. He, H. Hou, H. Wang, H. Yin, Y. Huang, Z. Wang, and T. Q.S. Quek, &quot;A Unified Tensor-Based Joint AUD and ISAC Parameter Estimation With Large-Scale User Access,&quot; <i> IEEE Transactions on Wireless Communications</i>,2025.</li>
</ol>




<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



